body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
    background-color: grey;
    color: rgb(214, 212, 212);
    text-align: center;
    padding: 50px;
    margin: 0px;
}
#submitEmployeeBtn {
    height: 30px;
    width: 100px;
    border-radius: 7px;
    margin-left: 37px;
}

input {
    margin-right: 15px;
    margin-left: 15px;
    height: 25px;
}
input::placeholder {
    font-size: larger;
}
input:focus::placeholder {
    color: transparent;
  }
table, th, td {
    border:1px solid black;
    height: 30px;
    width: 68em;
}
