body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
    background-color: grey;
    color: rgb(214, 212, 212);
    text-align: center;
    padding: 50px;
    margin: 0px;
}
#inputHeader {
    text-align: center;
    text-decoration: solid;
    text-decoration: underline;
}
#tableHeader {
    text-align: center;
    text-decoration: solid;
    text-decoration: underline;
}
.inputs{
    display: flex;
    justify-content: center;
}
#submitEmployeeBtn {
    height: 30px;
    width: 100px;
    border-radius: 7px;
    margin-left: 37px;
}
#deleteEmployeeBtn {
    height: 30px;
    width: 100px;
    border-radius: 7px;
}
input {
    height: 20px;
}
input::placeholder {
    font-size: larger;
}
input:focus::placeholder {
    color: transparent;
  }
table, th, td {
    border:1px solid black;
    height: 30px;
    width: 68em;
    margin-left: auto;
    margin-right: auto;
}
aside {
    text-align: right;
    font-size: x-large;
    color: black;
}
